@keyframes infinite-rotate {
  to {
    transform: rotate(360deg);
  }
}
@keyframes infinite-rotate-opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    transform: rotate(360deg);
  }
}
@keyframes infinite-poppin {
  to {
    transform: translateY(20px);
  }
}
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  color: rgba(0, 0, 0, 0.87);
}

body {
  overflow-x: hidden;
  background-color: #fff;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1 {
  font-weight: bold;
}

h2,
h3 {
  font-weight: 600;
}

ul {
  list-style: none;
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}

img {
  display: block;
  max-width: 100%;
}

strong {
  color: #ff4f5b;
}

* {
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
  line-height: 1.4;
  font-weight: 400;
}

.text-hover {
  cursor: pointer;
}
.text-hover * {
  transition: all 0.35s ease;
}
.text-hover:hover * {
  color: #ff4f5b;
}

@media (max-width: 767px) {
  .mb-sm-50 {
    margin-bottom: 50px;
  }

  .mb-sm-70 {
    margin-bottom: 70px;
  }

  .mb-sm-100 {
    margin-bottom: 100px;
  }
}
@media (max-width: 991px) {
  .mb-md-50 {
    margin-bottom: 50px;
  }

  .mb-md-70 {
    margin-bottom: 70px;
  }

  .mb-md-100 {
    margin-bottom: 100px;
  }
}
.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.block > *:not(:first-child) {
  margin-top: 15px;
}
.block--center {
  align-items: center;
}
@media (max-width: 991px) {
  .block--mobile {
    align-items: center;
    text-align: center;
  }
}
.block__caption {
  position: relative;
  text-transform: capitalize;
  margin-left: 20px;
  font-size: 1.6rem;
  font-weight: 600;
}
@media (max-width: 991px) {
  .block__caption {
    font-size: 1.4rem;
    margin-left: 0;
  }
}
.block__caption.line-left:before, .block__caption.line-right:after {
  position: absolute;
  content: "";
  top: 50%;
  height: 1px;
  width: 15px;
  transform: translateY(-50%);
  background-color: #ff4f5b;
}
@media (max-width: 991px) {
  .block__caption.line-left:before, .block__caption.line-right:after {
    width: 10px;
  }
}
.block__caption.line-left:before {
  left: -20px;
}
@media (max-width: 991px) {
  .block__caption.line-left:before {
    left: -15px;
  }
}
.block__caption.line-right:after {
  right: -20px;
}
@media (max-width: 991px) {
  .block__caption.line-right:after {
    right: -15px;
  }
}
.block__heading {
  font-size: 3.2rem;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  .block__heading {
    font-size: 2.6rem;
  }
}
@media (max-width: 767px) {
  .block__heading {
    font-size: 2.2rem;
  }
}
.block__heading--small {
  font-size: 2.6rem;
}
@media (max-width: 767px) {
  .block__heading--small {
    font-size: 2.2rem;
  }
}
.block__desc {
  font-size: 1.4rem;
  line-height: 1.7;
  color: #898c8f;
}
@media (max-width: 767px) {
  .block__desc {
    font-size: 1.3rem;
  }
}

.primary-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 99px 99px 99px 12px;
  font-weight: 600;
  font-size: 1.6rem;
  min-width: 135px;
  height: 44.5px;
  color: #fff;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  user-select: none;
}
@media (hover: hover) {
  .primary-btn:hover {
    border-top-right-radius: 12px;
    border-bottom-left-radius: 99px;
  }
}
@media (max-width: 991px) {
  .primary-btn {
    padding: 10px;
    font-size: 1.4rem;
    min-width: 120px;
    height: 40.5px;
  }
}
.primary-btn--red {
  background-color: #ff4f5b;
}
@media (hover: hover) {
  .primary-btn--red:hover {
    background-color: #ffbb3a;
  }
}
.primary-btn--yellow {
  background-color: #ffbb3a;
}
@media (hover: hover) {
  .primary-btn--yellow:hover {
    background-color: #ff4f5b;
  }
}
.primary-btn--small {
  height: 38.5px;
  min-width: 105px;
  font-size: 1.4rem;
}

.header__btn {
  position: relative;
  padding: 13px;
  font-weight: 600;
  font-size: 1.65rem;
  text-transform: uppercase;
  background-color: transparent;
  color: #fff;
  transition: all 0.35s;
}
@media (max-width: 767px) {
  .header__btn {
    font-size: 1.45rem;
  }
}
@media (max-width: 991px) {
  .header__btn {
    padding: 10px;
    color: #ff4f5b;
  }
}
.header__btn:hover {
  color: #ff4f5b;
}
.header__btn:before {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  width: 0;
  height: 3px;
  border-radius: 99px;
  background-color: #ff4f5b;
  transition: all 0.35s;
}
@media (max-width: 991px) {
  .header__btn:before {
    width: 100%;
  }
}
.header__btn:hover:before {
  left: 0;
  width: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  height: 100%;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.25s;
}
@media (hover: hover) {
  .card:hover {
    background-color: #ff4f5b;
  }
}
.card__icon {
  font-size: 4.2rem;
  color: #ff4f5b;
}
.card__icon {
  width: 50px;
}
.card__title {
  font-size: 1.8rem;
  margin: 20px 0 15px;
}
.card__desc {
  position: relative;
  z-index: 1;
  font-size: 1.4rem;
  line-height: 2.2;
  color: #898c8f;
}
.card * {
  transition: all 0.25s ease;
}
@media (hover: hover) {
  .card:hover * {
    color: #fff;
  }
}
.card__virus {
  position: absolute;
  bottom: -40px;
  right: 20px;
  font-size: 10.8rem;
  opacity: 0;
  transform: scale(1) translateY(0) rotate(0);
  transition: all 0.3s;
}
@media (hover: hover) {
  .card:hover .card__virus {
    transform: scale(1.1) translateY(-50px) rotate(90deg);
    opacity: 1;
    color: #c02323ad;
    transition-duration: 0.55s;
  }
}

.doctor {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px 40px 110px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  border-radius: 20px 20px 20px 12px;
  overflow: hidden;
  height: 100%;
  background-color: #f5f5f5;
  cursor: pointer;
}
@media (max-width: 991px) {
  .doctor {
    padding-top: 20px;
  }
}
@media (max-width: 767px) {
  .doctor {
    padding-top: 30px;
  }
}
.doctor__img {
  width: 150px;
}
.doctor__desc {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 30%;
  width: 100%;
  padding: 35px 0 30px;
  background-color: #fff;
  transition: all 0.3s;
}
@media (max-width: 991px) {
  .doctor__desc {
    padding-top: 15px;
    background-color: #ff4f5b;
  }
}
@media (hover: hover) {
  .doctor:hover .doctor__desc {
    padding-top: 30px;
    height: 35%;
    background-color: #ff4f5b;
  }
}
.doctor__name {
  font-size: 1.8rem;
  margin-bottom: 5px;
  transition: all 0.28s ease-out;
}
@media (max-width: 991px) {
  .doctor__name {
    font-size: 1.6rem;
    color: #fff;
  }
}
.doctor__role {
  font-size: 1.4rem;
  color: #898c8f;
  transition: all 0.28s ease-out;
}
@media (max-width: 991px) {
  .doctor__role {
    color: #fff;
    font-size: 1.3rem;
  }
}
@media (hover: hover) {
  .doctor:hover :is(.doctor__name, .doctor__role, .doctor__contact) {
    color: #fff;
  }
}
.doctor__contacts {
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 100%;
  text-align: center;
}
@media (max-width: 991px) {
  .doctor__contacts {
    bottom: 7px;
  }
}
.doctor__contact {
  display: inline-block;
  font-size: 2.2rem;
  padding: 0 5px;
  opacity: 0;
  color: #fff;
  transition: all 0.25s ease-out;
}
@media (max-width: 991px) {
  .doctor__contact {
    font-size: 1.8rem;
    opacity: 1;
  }
}
@media (hover: hover) {
  .doctor:hover .doctor__contact {
    opacity: 1;
    transform: translateY(-10px);
  }
}

.new {
  display: inline-block;
  padding: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  transition: all 0.25s;
}
@media (hover: hover) {
  .new:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  }
}
.new img {
  transition: all 0.35s ease-in-out;
}
@media (hover: hover) {
  .new:hover img {
    opacity: 0.8;
    transform: rotate(3deg) scale(1.05);
  }
}
.new__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 25px 20px;
}
.new__content > *:not(:first-child) {
  margin-top: 10px;
}
@media (max-width: 991px) {
  .new__content {
    padding: 10px 0;
  }
}
.new__label {
  font-size: 1.2rem;
  color: #ff4f5b;
}
.new__title {
  font-size: 1.4rem;
  margin-bottom: 10px;
  line-height: 1.7;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.thing {
  display: flex;
  align-items: center;
}
.thing:nth-of-type(2) {
  margin-bottom: 80px;
}
@media (max-width: 991px) {
  .thing:nth-of-type(2) {
    margin-bottom: 20px;
  }
}
.thing:nth-of-type(1) {
  margin-bottom: 100px;
}
.thing .badge {
  margin-bottom: 10px;
}
.thing__left, .thing__right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.thing__left > *:not(:first-child), .thing__right > *:not(:first-child) {
  margin-top: 30px;
}
.thing img {
  width: 70%;
}
.thing__btn {
  text-align: center;
  align-self: flex-start;
}

.badge {
  position: relative;
  font-size: 1.4rem;
  padding: 9px 22px;
  border-radius: 99px;
  font-weight: 600;
  align-self: flex-start;
  min-width: max-content;
  text-align: center;
}
@media (max-width: 991px) {
  .badge {
    padding: 8px 16px;
  }
}
.badge--red {
  color: #ff4f5b;
}
.badge--yellow {
  color: #ffbb3a;
}
.badge:before {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: inherit;
  opacity: 0.2;
  transform: translate(-50%, -50%);
  background-color: currentColor;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  padding: 8px 0;
  background-color: rgba(0, 0, 0, 0.84);
  transition: all 0.38s;
}
.header.show {
  transform: translateY(0);
}
.header.hide {
  transform: translateY(-100%);
}
@media (max-width: 767px) {
  .header {
    padding: 10px 0;
  }
}
.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 120px;
}
@media (max-width: 767px) {
  .header__logo {
    width: 100px;
  }
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__nav > *:not(:first-child) {
  margin-left: 20px;
}
@media (max-width: 991px) {
  .header__nav {
    display: none;
  }
}
.header__nav-item {
  padding: 0 10px;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #fff;
}
.header__nav-item .bx {
  font-size: 1.6rem;
  margin-right: 8px;
}

@keyframes scroll {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.banner {
  position: relative;
  margin-top: 150px;
  margin-bottom: 130px;
}
@media (max-width: 991px) {
  .banner {
    margin-bottom: 150px;
  }
}
@media (max-width: 767px) {
  .banner {
    margin-bottom: 130px;
  }
}
.banner__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.banner__left > *:not(:first-child) {
  margin-top: 30px;
}
.banner__title {
  font-size: 5.2rem;
  text-transform: capitalize;
}
@media (max-width: 991px) {
  .banner__title {
    font-size: 3.6rem;
    text-align: center;
  }
}
.banner__desc {
  font-size: 1.4rem;
  line-height: 1.7;
  color: #898c8f;
}
@media (max-width: 991px) {
  .banner__desc {
    text-align: center;
  }
}
.banner__btns {
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .banner__btns {
    justify-content: center;
  }
}
.banner__btns .primary-btn:first-child {
  margin-right: 20px;
}
.banner__img {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 991px) {
  .banner__img {
    width: 400px;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .banner__img {
    width: 250px;
  }
}
.banner__img img {
  object-fit: contain;
}
.banner__virus-wrapper {
  position: absolute;
  z-index: -1;
}
.banner__virus-wrapper:nth-of-type(2) {
  left: 40%;
  top: 10px;
}
.banner__virus-wrapper:nth-of-type(3) {
  bottom: -30px;
  right: -60px;
}
.banner__virus {
  background-repeat: no-repeat;
  animation: infinite-rotate 30s linear infinite;
}
.banner__virus--red {
  width: 135px;
  height: 135px;
  background-image: url(../images/virus-red.png);
}
@media (max-width: 991px) {
  .banner__virus--red {
    display: none;
  }
}
.banner__virus--blue {
  width: 175px;
  height: 170px;
  background-image: url(../images/virus-blue.png);
  animation-delay: 0.3s;
  animation-duration: 35s;
}
@media (max-width: 991px) {
  .banner__virus--blue {
    display: none;
  }
}

.about {
  margin-bottom: 100px;
}
@media (max-width: 991px) {
  .about__left {
    width: 400px;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .about__left {
    width: 280px;
  }
}
.about__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-left: 50px;
}
@media (max-width: 991px) {
  .about__right {
    padding-left: 0;
  }
}
.about__right > *:not(:first-child) {
  margin-top: 30px;
}
.about__right .about__btn {
  align-self: flex-start;
}
@media (max-width: 991px) {
  .about__right .about__btn {
    align-self: center;
  }
}

.case {
  position: relative;
  padding: 0 50px;
  margin-bottom: 170px;
}
@media (max-width: 991px) {
  .case {
    overflow: hidden;
    margin-bottom: 100px;
  }
}
.case__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
@media (max-width: 991px) {
  .case__items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .case__items {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 5px;
  }
}
.case__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  margin-top: 30px;
  border-radius: 30px 30px 30px 12px;
  color: #fff;
}
@media (max-width: 767px) {
  .case__item {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 15px;
  }
}
.case__item:nth-child(1) {
  background-color: #ff4f5b;
}
.case__item:nth-child(2) {
  background-color: #ffbb3a;
}
.case__item:nth-child(3) {
  background-color: #54a0ff;
}
.case__item:nth-child(4) {
  background-color: #f368e0;
}
.case__qnt {
  font-size: 2.8rem;
  font-weight: bold;
}
@media (max-width: 991px) {
  .case__qnt {
    font-size: 2.6rem;
  }
}
.case__desc {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 10px;
}
@media (max-width: 991px) {
  .case__desc {
    font-size: 1.6rem;
  }
}
.case__item img {
  position: absolute;
  width: 40px;
}
.case__item:nth-of-type(1) img {
  top: 10px;
  left: 10px;
  animation: infinite-rotate-opacity 3s linear 0.2s infinite;
}
.case__item:nth-of-type(2) img {
  top: 8px;
  right: 20px;
  animation: infinite-rotate-opacity 3s linear 0.1s infinite;
}
.case__item:nth-of-type(3) img {
  bottom: 15px;
  left: 25px;
  animation: infinite-rotate-opacity 3s linear 0.4s infinite;
}
.case__item:nth-of-type(4) img {
  top: 30px;
  right: 10px;
  animation: infinite-rotate-opacity 3s linear 0.3s infinite;
}
.case__background {
  position: absolute;
  right: -150px;
  top: 10%;
  z-index: -1;
  width: 500px;
}

.symptom {
  margin-bottom: 160px;
}
@media (max-width: 991px) {
  .symptom {
    margin-bottom: 40px;
  }
}
.symptom .row {
  display: flex;
  align-items: center;
}
.symptom__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 20px;
  margin-top: 50px;
  padding-right: 20px;
  grid-auto-rows: 1fr;
}
@media (max-width: 767px) {
  .symptom__items {
    grid-template-columns: repeat(1, 1fr);
  }
}
.symptom__item {
  display: flex;
  align-items: flex-end;
}
.symptom__item img {
  width: 60px;
  transition: transform 0.25s ease-out;
}
@media (hover: hover) {
  .symptom__item:hover img {
    transform: scale(1.2) translateY(-5px);
  }
}
.symptom__label {
  z-index: -1;
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 14px 30px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.08);
  border-top-right-radius: 20px;
  margin-left: -15px;
  flex: 1;
  user-select: none;
}
@media (max-width: 767px) {
  .symptom__label {
    font-size: 1.2rem;
  }
}
.symptom__right {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 50px;
}
@media (max-width: 767px) {
  .symptom__right {
    margin: 0 -15px;
    padding-left: 0;
  }
}
.symptom__thumb {
  width: 460px;
}
@media (max-width: 991px) {
  .symptom__thumb {
    width: 400px;
  }
}
@media (max-width: 767px) {
  .symptom__thumb {
    width: 300px;
  }
}
.symptom__virus-wrapper {
  position: absolute;
  top: 10px;
  left: 17.5%;
}
@media (max-width: 991px) {
  .symptom__virus-wrapper {
    left: 23.5%;
  }
}
@media (max-width: 767px) {
  .symptom__virus-wrapper {
    left: 5%;
  }
}
.symptom__virus {
  width: 500px;
  animation: infinite-poppin 2s ease-in-out infinite alternate;
}
@media (max-width: 991px) {
  .symptom__virus {
    width: 400px;
  }
}
@media (max-width: 767px) {
  .symptom__virus {
    max-width: 300px;
  }
}

.cards {
  margin-bottom: 140px;
  padding: 0 80px;
}
@media (max-width: 991px) {
  .cards {
    padding: 0 50px;
    margin-bottom: 110px;
  }
}
@media (max-width: 767px) {
  .cards {
    padding: 0 35px;
  }
}
.cards > .block {
  margin-bottom: 50px;
}

.doctors {
  margin-bottom: 150px;
  padding: 0 80px;
}
@media (max-width: 991px) {
  .doctors {
    padding: 0 20px;
    margin-bottom: 110px;
  }
}
@media (max-width: 767px) {
  .doctors {
    padding: 0 50px;
  }
}
.doctors .block {
  margin-bottom: 50px;
}

.news {
  margin-bottom: 160px;
  padding: 0 80px;
}
@media (max-width: 991px) {
  .news {
    padding: 0;
    margin-bottom: 110px;
  }
}
@media (max-width: 767px) {
  .news {
    padding: 0 50px;
  }
}
.news .block {
  margin-bottom: 45px;
}

.ending {
  margin-bottom: 150px;
}
.ending .block {
  width: 600px;
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 991px) {
  .ending .block {
    width: 100%;
  }
}
.ending__img {
  width: 550px;
  margin: 50px auto 0;
}

.footer {
  padding: 30px 0;
  background-color: rgba(0, 0, 0, 0.84);
}
.footer__logo {
  width: 130px;
}
@media (max-width: 991px) {
  .footer__logo {
    width: 100px;
  }
}
.footer__items {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .footer__items {
    text-align: center;
    flex-wrap: wrap;
  }
}
.footer__items > *:not(:first-child) {
  margin-left: 20px;
}
@media (max-width: 767px) {
  .footer__items > *:not(:first-child) {
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  .footer__items :is(:nth-child(3), :nth-child(4)) {
    margin-top: 40px;
  }
}
.footer__item {
  font-size: 1.4rem;
  padding: 0 5px;
}
@media (max-width: 991px) {
  .footer__item {
    flex: 0 0 50%;
    width: 50%;
    font-size: 1.3rem;
  }
}
.footer__item > a {
  color: #fff;
}
.footer__contacts {
  display: flex;
  align-items: center;
}
.footer__contacts > *:not(:first-child) {
  margin-left: 10px;
}
.footer__contact {
  font-size: 2rem;
  padding: 0 5px;
  color: #fff;
  transition: all 0.25s ease;
}
@media (max-width: 991px) {
  .footer__contact {
    font-size: 1.8rem;
  }
}
.footer__copyright {
  position: relative;
  display: block;
  margin-top: 20px;
  text-align: center;
  font-size: 1.2rem;
  padding-top: 30px;
  color: #fff;
}
@media (max-width: 991px) {
  .footer__copyright {
    padding-top: 20px;
    font-size: 1.1rem;
  }
}
.footer__copyright:before {
  position: absolute;
  top: 0;
  left: 50%;
  content: "";
  display: block;
  width: 80%;
  margin-left: -40%;
  height: 1px;
  background: radial-gradient(ellipse at center, rgba(222, 228, 239, 0.2) 0, rgba(255, 255, 255, 0) 75%);
}
.footer__copyright-row:first-child {
  margin-bottom: 20px;
}
.footer__copyright-row > * {
  line-height: 2.2;
}

.things {
  display: flex;
  flex-direction: column;
  margin-bottom: 160px;
}
@media (max-width: 991px) {
  .things {
    margin-bottom: 140px;
  }
}
@media (max-width: 767px) {
  .things {
    margin-bottom: 100px;
  }
}
.things .thing:last-child {
  margin-top: 70px;
}
.things .block {
  margin-bottom: 70px;
}

/*# sourceMappingURL=main.css.map */
