.badge {
  position: relative;

  font-size: 1.4rem;
  padding: 9px 22px;
  border-radius: 99px;
  font-weight: 600;
  align-self: flex-start;
  min-width: max-content;
  text-align: center;

  &--red {
    color: $primary-red-color;
  }

  &--yellow {
    color: $primary-yellow-color;
  }

  &:before {
    position: absolute;
    top: 50%;
    left: 50%;
    content: "";

    width: 100%;
    height: 100%;
    border-radius: inherit;
    opacity: 0.2;
    transform: translate(-50%, -50%);

    background-color: currentColor;
  }
}
