.block {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;

  &--center {
    align-items: center;
  }

  &--mobile {
    @include respond(mobile) {
      align-items: center;
      text-align: center;
    }
  }

  &__caption {
    position: relative;

    text-transform: capitalize;
    margin-left: 20px;
    font-size: 1.6rem;
    font-weight: 600;

    @include respond(mobile) {
      font-size: 1.4rem;
      margin-left: 0;
    }
  }

  &__caption.line-left:before,
  &__caption.line-right:after {
    position: absolute;
    content: "";
    top: 50%;

    height: 1px;
    width: 15px;
    transform: translateY(-50%);

    background-color: $primary-red-color;

    @include respond(mobile) {
      width: 10px;
    }
  }

  &__caption.line-left:before {
    left: -20px;

    @include respond(mobile) {
      left: -15px;
    }
  }

  &__caption.line-right:after {
    right: -20px;

    @include respond(mobile) {
      right: -15px;
    }
  }

  &__heading {
    font-size: 3.2rem;
    text-transform: uppercase;

    @include respond(tablet) {
      font-size: 2.6rem;
    }

    @include respond(phone) {
      font-size: 2.2rem;
    }
  }

  &__heading--small {
    font-size: 2.6rem;

    @include respond(phone) {
      font-size: 2.2rem;
    }
  }

  &__desc {
    font-size: 1.4rem;
    line-height: 1.7;

    color: $primary-grey-color;

    @include respond(phone) {
      font-size: 1.3rem;
    }
  }
}
